header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.img__logo {
    width: 60px;
}

.logo {
    font-size: 20px;
    margin-left: 10px; 
}

.user__info {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.avatar {
    width: 30px;
    border-radius: 50%;
    border: 2px solid red;  
    aspect-ratio: 1;
    margin-left: 10px; 
}
