.logo__section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.img__logo{
    width: 60px;
}

.logo{
    font-size: 20px;
    font-family: "Rubik Mono One", monospace;
    color: rgba(158, 43, 43, 0.897);
}

