header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10em; 
}

.logo__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.img__logo {
    width: 60px;
}

.logo {
    font-size: 20px; 
}

.user__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;

}

.name__trainer{
    text-transform: capitalize;
}

.avatar {
    width: 40px;
    border-radius: 50%;
    border: 2px solid red;  
    aspect-ratio: 1;
    margin-left: 10px; 
}

@media (min-width: 800px) {
    .navbar {
        gap: 19em; 
    }
}