.search__pokemon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke_container_class{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.pokedex__title{
    font-size: 20px;
    text-align: center;
}

.pokedex__title {
    font-size: 1.5rem; 
    font-weight: 600; 
    color: #333; 
    text-align: center; 
    margin-bottom: 10px; 
    text-transform: uppercase;
    margin-top: 20px; 
    margin: 5px;
}

.pokedex__description {
    font-size: 1rem; 
    color: #555; 
    line-height: 1.5; 
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 0 15px; 
    margin-bottom: 50px;
    text-align: justify;
}

.poke__form_dex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    max-width: 90%;
    margin: 0;
    padding: 0;
}

.search__input{
    border: 1px solid red;
    border-radius: 20px;
    padding: 0 10px;
    width: 100%;
    margin: 0;
}

.search__btn{
    border: 1px solid red;
    border-radius: 20px;
    padding: 0 1em;
}
.search__btn:hover{
    cursor: pointer;
}


/* From Uiverse.io by reshades */ 
.button {
    background-color: #ffffff00;
    color: #c50707;
    width: 4em;
    height: 1.7em;
    border: #ff3636 0.2em solid;
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background-color: #e00000;
    cursor: pointer;
    color: white;
  }
  

  .text {
    margin: 0 1em;
    font-size: 15px;
  }

@media (min-width: 800px) {
    .poke_container_class{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}

