/* COLORES DE LOS BOTONES POR TIPO DE POKEMON */
.pokemon-type-normal {
    border: 1.5px solid #FFA24A;
}

.pokemon-type-normal:focus {
    outline: none; 
    box-shadow: 0 0 5px #eb9240; 
}

.pokemon-type-fire {
    border: 1.5px solid #FF0800;
}

.pokemon-type-fire:focus {
    outline: none;
    box-shadow: 0 0 5px #FF0800;
}

.pokemon-type-water {
    border: 1.5px solid #049DBF;
}

.pokemon-type-water:focus {
    outline: none;
    box-shadow: 0 0 5px #049DBF;
}

.pokemon-type-electric {
    border: 1.5px solid #d8b802;
}

.pokemon-type-electric:focus {
    outline: none;
    box-shadow: 0 0 5px #d8b802;
}

.pokemon-type-grass {
    border: 1.5px solid #327355;
}

.pokemon-type-grass:focus {
    outline: none;
    box-shadow: 0 0 5px #327355;
}

.pokemon-type-ice {
    border: 1.5px solid #4EA4D9;
}

.pokemon-type-ice:focus {
    outline: none;
    box-shadow: 0 0 5px #4EA4D9;
}

.pokemon-type-fighting {
    border: 1.5px solid #6E0B1F;
}

.pokemon-type-fighting:focus {
    outline: none;
    box-shadow: 0 0 5px #6E0B1F;
}

.pokemon-type-poison {
    border: 1.5px solid #B679F2;
}

.pokemon-type-poison:focus {
    outline: none;
    box-shadow: 0 0 5px #B679F2;
}

.pokemon-type-ground {
    border: 1.5px solid #CCA700;
}

.pokemon-type-ground:focus {
    outline: none;
    box-shadow: 0 0 5px #CCA700;
}

.pokemon-type-flying {
    border: 1.5px solid #A7B9E0;
}

.pokemon-type-flying:focus {
    outline: none;
    box-shadow: 0 0 5px #A7B9E0;
}

.pokemon-type-psychic {
    border: 1.5px solid #F972AF;
}

.pokemon-type-psychic:focus {
    outline: none;
    box-shadow: 0 0 5px #F972AF;
}

.pokemon-type-bug {
    border: 1.5px solid #375936;
}

.pokemon-type-bug:focus {
    outline: none;
    box-shadow: 0 0 5px #375936;
}

.pokemon-type-rock {
    border: 1.5px solid #40312C;
}

.pokemon-type-rock:focus {
    outline: none;
    box-shadow: 0 0 5px #40312C;
}

.pokemon-type-ghost {
    border: 1.5px solid #0A0B0D;
}

.pokemon-type-ghost:focus {
    outline: none;
    box-shadow: 0 0 5px #0A0B0D;
}

.pokemon-type-dragon {
    border: 1.5px solid #0554F2;
}

.pokemon-type-dragon:focus {
    outline: none;
    box-shadow: 0 0 5px #0554F2;
}

.pokemon-type-dark {
    border: 1.5px solid #252252;
}

.pokemon-type-dark:focus {
    outline: none;
    box-shadow: 0 0 5px #252252;
}

.pokemon-type-fairy {
    border: 1.5px solid #f7768e;
}

.pokemon-type-fairy:focus {
    outline: none;
    box-shadow: 0 0 5px #f7768e;
}

.pokemon-type-steel {
    border: 1.5px solid #A4A698;
}

.pokemon-type-steel:focus {
    outline: none;
    box-shadow: 0 0 5px #A4A698;
}

.pokemon-type-unknown {
    border: 1.5px solid #000000;
}

.pokemon-type-unknown:focus {
    outline: none;
    box-shadow: 0 0 5px #000000;
}

/* ESTILOS DE COMPONENTE */

.poke__img__info{
    width: 350px;
}

.pokedex__name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button__section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    
}

.poke__button{
    width: 120px;
    height: 28px;
    border-radius: 20px;
    
}

.pokedex-container{

    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;

}

.principal__poke_page{

    display: flex;
    align-items: center;
    justify-content: center;
}


/* DESCRIPTION */


.poke__description{
    background-color: #272b3309;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 20px;
    border-radius: 10px;
    padding: 1em;

}



/* STATS */

.stast__info {
    list-style: none; /* Asegúrate de eliminar el estilo de lista */
    padding: 0; /* Elimina el padding */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    background-color: #272b3309;
    border-radius: 20px;
    padding: 1em;
}

.poke__stats {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: space-between; /* Espacia el nombre, barra y valor */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    margin-bottom: 10px; /* Espacio entre las estadísticas */
    
}

.progress-container {
    background: #e0e0e0; /* Color de fondo de la barra */
    border-radius: 5px;
    overflow: hidden;
    width: 100%; /* Ancho fijo para la barra */
    height: 20px; /* Altura de la barra */
    margin: 0 10px; /* Espaciado a los lados de la barra */
}

.progress-bar {
    height: 100%;
    background: #76c7c0; /* Color de la barra llena */
    transition: width 0.3s ease; /* Suaviza la transición */
}

.stat__name{
    margin: 0;
    width: 60%;
}

.stat__value{
    width: 10%;
}

/* MOVES */

.moves__list{
    background-color: #272b3309;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.4em;
    margin-top: 20px;
    border-radius: 10px;
    padding: 1em;
}

.poke__move{
    padding: 0.2em 0.6em 0.2em 0.6em;
    border-radius: 20px;
}