.principal_container{
    width: 70%;
    background-color: red;
}

.card_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .pagination button.active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  

  @media (max-width: 600px) {
    .pagination {
        overflow-x: auto; /* Habilita el desplazamiento horizontal */
        white-space: nowrap; /* Evita que los botones se envuelvan */
    }

    .pagination button {
        min-width: 40px; /* Ancho mínimo para los botones */
    }
}