
/* Tipos de Pokémon y sus colores con degradados */

:root {
    /* Normal */
    --color-normal: linear-gradient(to bottom, 
        #FFA24A, 
        #d17622, 
        #FF7C00, 
        #df8531, 
        #CC6300);

    /* Fire */
    --color-fire: linear-gradient(to bottom, 
        #FFB100, 
        #FFDB00, 
        #FF8100, 
        #FF4500, 
        #FF0800);

    /* Water */
    --color-water: linear-gradient(to bottom, 
        #012340, 
        #03588C, 
        #049DD9, 
        #049DBF, 
        #04C4D9);

    /* Electric */
    --color-electric: linear-gradient(to bottom, 
        #d8b802, 
        #caac01, 
        #dbb701, 
        #e9c201, 
        #FFD000);

    /* Grass */
    --color-grass: linear-gradient(to bottom, 
        #0B2559, 
        #183B59, 
        #2A5159, 
        #327355, 
        #5C8C46);

    /* Ice */
    --color-ice: linear-gradient(to bottom, 
        #4EA4D9, 
        #88C9F2, 
        #4c98b6, 
        #91D7F2, 
        #ACE5F2);

    /* Fighting */
    --color-fighting: linear-gradient(to bottom, 
        #6E0B1F, 
        #be2b48, 
        #cc183c, 
        #b61e3c, 
        #BD1234);

    /* Poison */
    --color-poison: linear-gradient(to bottom, 
        #B679F2, 
        #7229D9, 
        #2E038C, 
        #1D0259, 
        #090126);

    /* Ground */
    --color-ground: linear-gradient(to bottom, 
        #CCA700, 
        #ad9d4b, 
        #ceb234, 
        #ac8f10, 
        #FFD100);

    /* Flying */
    --color-flying: linear-gradient(to bottom,
        #A7B9E0, 
        #B0C4DE);

    /* Psychic */
    --color-psychic: linear-gradient(to bottom, 
        #F972AF, 
        #FF97CB, 
        #F5D4EC, 
        #d7b0fa, 
        #BCB5DF);

    /* Bug */
    --color-bug: linear-gradient(to bottom, 
        #375936, 
        #155902, 
        #588C49, 
        #488C03, 
        #97BF04);

    /* Rock */
    --color-rock: linear-gradient(to bottom, 
        #BFB6AE, 
        #40312C, 
        #73605A, 
        #A6948D, 
        #8f8f8f);

    /* Ghost */
    --color-ghost: linear-gradient(to bottom, 
        #0A0B0D, 
        #1F2326, 
        #617477, 
        #515251, 
        #585858);

    /* Dragon */
    --color-dragon: linear-gradient(to bottom, 
        #0554F2, 
        #0442BF, 
        #03318C, 
        #021F59, 
        #0D0D0D);

    /* Dark */
    --color-dark: linear-gradient(to bottom, 
        #252252, 
        #665DDE, 
        #433D91, 
        #49429E, 
        #373278);

    /* Fairy */
    --color-fairy: linear-gradient(to bottom, 
        #f7768e, 
        #c191e4, 
        #ba7bd3, 
        #b162c9, 
        #e282af);

    /* Steel */
    --color-steel: linear-gradient(to bottom, 
        #A4A698, 
        #8C8979, 
        #595348, 
        #262626, 
        #0D0D0D);

    /* Unknown */
    --color-unknown: linear-gradient(to bottom, 
        #000000, 
        #555555);
}

.type-normal {
    background: var(--color-normal);
}

.type-fire {
    background: var(--color-fire);
}

.type-water {
    background: var(--color-water);
}

.type-electric {
    background: var(--color-electric);
}

.type-grass {
    background: var(--color-grass);
}

.type-ice {
    background: var(--color-ice);
}

.type-fighting {
    background: var(--color-fighting);
}

.type-poison {
    background: var(--color-poison);
}

.type-ground {
    background: var(--color-ground);
}

.type-flying {
    background: var(--color-flying);
}

.type-psychic {
    background: var(--color-psychic);
}

.type-bug {
    background: var(--color-bug);
}

.type-rock {
    background: var(--color-rock);
}

.type-ghost {
    background: var(--color-ghost);
}

.type-dragon {
    background: var(--color-dragon);
}

.type-dark {
    background: var(--color-dark);
}

.type-fairy {
    background: var(--color-fairy);
}

.type-steel {
    background: var(--color-steel);
}

.type-unknown {
    background: var(--color-unknown);
}



/* NAME POKEMON */

/* Tipos de Pokémon y sus colores oscuros */

.type-normal-dark {
    background: linear-gradient(to bottom, #A8A878, #7A7A5C); /* gris más oscuro */
}

.type-fire-dark {
    background: linear-gradient(to bottom, #F08030, #C04E22); /* naranja más oscuro */
}

.type-water-dark {
    background: linear-gradient(to bottom, #6890F0, #3B6BB6); /* azul más oscuro */
}

.type-electric-dark {
    background: linear-gradient(to bottom, #F8D030, #C0A330); /* amarillo más oscuro */
}

.type-grass-dark {
    background: linear-gradient(to bottom, #78C850, #5DAA3D); /* verde más oscuro */
}

.type-ice-dark {
    background: linear-gradient(to bottom, #98D8D8, #66B3B3); /* celeste más oscuro */
}

.type-fighting-dark {
    background: linear-gradient(to bottom, #C03028, #8C2021); /* rojo oscuro más */
}

.type-poison-dark {
    background: linear-gradient(to bottom, #A040A0, #6A2D6A); /* púrpura más oscuro */
    border-radius: 16px;
background: #ee86ee;
box-shadow: inset -50px 50px 98px #915291,
            inset 50px -50px 98px #ffbaff;
    
}

.type-ground-dark {
    background: linear-gradient(to bottom, #E0C068, #BBAA4D); /* marrón más oscuro */
}

.type-flying-dark {
    background: linear-gradient(to bottom, #A7B9E0, #7A9DB6); /* azul claro más oscuro */
}

.type-psychic-dark {
    background: linear-gradient(to bottom, #F85888, #C14B5B); /* rosa más oscuro */
}

.type-bug-dark {
    background: linear-gradient(to bottom, #A8B820, #7C9A15); /* verde oscuro más */
}

.type-rock-dark {
    background: linear-gradient(to bottom, #B8A038, #8F6F28); /* marrón más oscuro */
}

.type-ghost-dark {
    background: linear-gradient(to bottom, #705898, #4D3E6D); /* violeta más oscuro */
}

.type-dragon-dark {
    background: linear-gradient(to bottom, #7038F8, #482A7A); /* azul oscuro más */
}

.type-dark-dark {
    background: linear-gradient(to bottom, #705848, #4A4A4A); /* gris oscuro más */
}

.type-fairy-dark {
    background: linear-gradient(to bottom, #F4B1F4, #DFA4D5); /* rosa claro más oscuro */
}

/* Tipos especiales oscuros */
.type-steel-dark {
    background: linear-gradient(to bottom, #B8B8D0, #A2A2B5); /* gris metálico más oscuro */
}

.type-unknown-dark {
    background: linear-gradient(to bottom, #000000, #333333); /* negro más oscuro */
}


/* TYPE BORDER */

/* Tipos de Pokémon con borde */

.border-normal {
    border: 2px solid #5e5d38; /* Normal */
}

.border-fire {
    border: 2px solid #FBAE24; /* Fuego */
}

.border-water {
    border: 2px solid #A4C8E1; /* Agua */
}

.border-electric {
    border: 2px solid #F6D02F; /* Eléctrico */
}

.border-grass {
    border: 2px solid #7AC74C; /* Planta */
}

.border-ice {
    border: 2px solid #96D9D6; /* Hielo */
}

.border-fighting {
    border: 2px solid #C22E28; /* Lucha */
}

.border-poison {
    border: 2px solid #A33EA1; /* Veneno */
}

.border-ground {
    border: 2px solid #E2BF7D; /* Tierra */
}

.border-flying {
    border: 2px solid #A98FF3; /* Volador */
}

.border-psychic {
    border: 2px solid #F85888; /* Psíquico */
}

.border-bug {
    border: 2px solid #A6B91A; /* Bicho */
}

.border-rock {
    border: 2px solid #B6A54E; /* Roca */
}

.border-ghost {
    border: 2px solid #735797; /* Fantasma */
}

.border-dragon {
    border: 2px solid #6F35FC; /* Dragón */
}

.border-dark {
    border: 2px solid #705848; /* Siniestro */
}

.border-fairy {
    border: 2px solid #943067; /* Hada */
}

/* Tipos con bordes oscuros */
.border-normal-dark {
    border: 2px solid #7E7B5C; /* Normal oscuro */
}

.border-fire-dark {
    border: 2px solid #9A6A1C; /* Fuego oscuro */
}

.border-water-dark {
    border: 2px solid #2A4A70; /* Agua oscuro */
}

.border-electric-dark {
    border: 2px solid #A48B10; /* Eléctrico oscuro */
}

.border-grass-dark {
    border: 2px solid #4E6B33; /* Planta oscuro */
}

.border-ice-dark {
    border: 2px solid #6C8E8C; /* Hielo oscuro */
}

.border-fighting-dark {
    border: 2px solid #9A1F1B; /* Lucha oscuro */
}

.border-poison-dark {
    border: 2px solid #7B2C7C; /* Veneno oscuro */
}

.border-ground-dark {
    border: 2px solid #B59D53; /* Tierra oscuro */
}

.border-flying-dark {
    border: 2px solid #7C6D93; /* Volador oscuro */
}

.border-psychic-dark {
    border: 2px solid #E74773; /* Psíquico oscuro */
}

.border-bug-dark {
    border: 2px solid #7C9A1C; /* Bicho oscuro */
}

.border-rock-dark {
    border: 2px solid #9B7F37; /* Roca oscuro */
}

.border-ghost-dark {
    border: 2px solid #513C6D; /* Fantasma oscuro */
}

.border-dragon-dark {
    border: 2px solid #5D28C1; /* Dragón oscuro */
}

.border-dark-dark {
    border: 2px solid #4A3B32; /* Siniestro oscuro */
}

.border-fairy-dark {
    border: 2px solid #B56985; /* Hada oscuro */
}


/* STYLES POKECARD */

.pokecard {
    border-radius: 8px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    max-width: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    text-transform:capitalize; 
}

.pokecard:hover {
    cursor: pointer;
    scale: 1.03;
    filter: brightness(0.9);
    transition: all .5s;
}


.pokemon_info{
    width: 100%;

}


.poke_card_img{
    width: 100px;
    position: relative;
    z-index: 1;
}

.pokebol_img{
    position: absolute;
    width: 100px;
    opacity: 0.4;
}

.pokecard_name {
    display: inline-flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    border-radius: 0 30px 30px 0;
    padding: 0 12px;
    height: 28px;
    margin-bottom: 10px;
}

.name_text {
    font-size: 18px;
    margin: 0; /* Elimina márgenes */
    text-align: center; /* Asegura que el texto esté centrado */
}

.poke_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.pokemon_list_type{
    width: 100%;
    display: flex;
    gap: 2em;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.pokemon_list_type {
    display:inline-flex;               
    justify-content: center;     
    align-items: center;          
    list-style: none;             
    padding: 0;                  
    margin: 0;
    font-size: 12px;               
}


.poke__type{
    border-radius: 20px;
    padding: 0em 0.5em 0em 0.5em ;
}

.pokemon__footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pokemon_stats {
    margin: 0 10px;
    padding: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.stat__pokemon {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poke__name_stats {
    font-size: 12px;
}

.number__stats {
    font-weight: bold;
    font-size: 12px;
}


@media (min-width: 768px) {
    .pokecard {
        max-width: 230px;
        width: 100%;
        height: 340px;
    }

    .pokecard:hover {
        cursor: pointer;
        scale: 1.03;
        filter: brightness(0.9);
        transition: all .5s;
    }

    .pokemon_info {
        width: 100%;
    }

    .poke_card_img {
        width: 150px;
        position: relative;
        z-index: 1;
    }

    .pokebol_img {
        position: absolute;
        width: 150px;
        opacity: 0.4;
    }

    .pokecard_name {
        display: inline-flex;
        flex-direction: column;
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
        border-radius: 0 30px 30px 0;
        padding: 0 12px;
        height: 28px;
        margin-bottom: 10px;
    }

    .name_text {
        font-size: 18px;
        margin: 0; /* Elimina márgenes */
        text-align: center; /* Asegura que el texto esté centrado */
    }

    .poke_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pokemon_list_type {
        width: 100%;
        display: flex;
        gap: 2em;
        margin-top: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .pokemon__footer {
        display: flex;
        width: 100%;
    }

    .pokemon_list_type {
        display: flex;               
        justify-content: center;     
        align-items: center;          
        list-style: none;             
        padding: 0;                  
        margin: 0;
        font-size: 12px;               
    }

    .poke__type {
        border-radius: 20px;
        padding: 0em 0.5em 0em 0.5em;
    }

    .stat__pokemon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3em;
    }

    .poke__name_stats {
        font-size: 12px;
    }

    .pokemon_stats {
        display: flex;
        flex-direction: column;
        max-width: 250px;
    }

    .number__stats {
        font-weight: bold;
        font-size: 12px;
    }
}
