.principal_container{


}

.card_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 0.5em;
  }
  
  
  .pagination button.active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }

  .page-info{
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 50px;
    margin: 0 5px;
    padding: 10px;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  

  .btn__pag{
    border: 2px solid rgba(160, 0, 0, 0.363);
    border-radius: 50px;
    margin: 0 5px;
    padding: 10px;
  }
  

  @media (max-width: 600px) {
    .pagination {
        overflow-x: auto; /* Habilita el desplazamiento horizontal */
        white-space: nowrap; /* Evita que los botones se envuelvan */
    }

    .pagination button {
        min-width: 40px; /* Ancho mínimo para los botones */
    }
}


